@CHARSET "ISO-8859-1";


.list_buttons{
	list-style: none;
	height: 69px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 30px;
}

.register_icon{
	
	display: block;
	font-family: 'Source Sans Pro';
	font-weight:400;
	text-decoration:none;
	float: right;
	height: 59px;
	width: 100px;
	color: white;		
	vertical-align:baseline;
	margin-top:20px;
	margin-right: 20px;
	font-size: 16px !important;
}
.login_icon{
	display: block;
	font-family: 'Source Sans Pro';
	font-weight:400;
	text-decoration:none;
	float: right;
	height: 59px;
	width: 100px;
	color: white;		
	vertical-align:baseline;
	margin-top:20px;
	font-size: 16px !important;
}

.input_form{
	list-style:none;
	display:block;
	margin-top: 100px;
	margin-left: 262px;
	width:500px;
	float: left;
	position: absolute;
	
}

.form_text{
	float:left;
	text-align:left;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-size: 16px;
	color:rgb(162,162,162);
	width:150px;
	padding-top: 6px;
}


.form_input_box{
	float:left;
	background-image: url("../images/input box.png");
	background-repeat: no-repeat;
	width:310px;
	height:35px;
	margin-left: 15px;
	float: left;
	margin-bottom:20px;
	border:0;
	outline:0;
	color:rgb(111,111,111);	
	padding-left:10px;
	padding-top:1px;
	padding-bottom:1px;
	padding-right:10px;
	line-height: normal;
	-webkit-appearance: none;
  	-moz-appearance:none;
  	-o-appearance:none;
   	appearance:none; 
}

*:focus {
    outline: 0;
}

/*----------------Login Page---------------*/

.login_button {
	
	background-image: url("../images/log in button.png");
    background-repeat: no-repeat;
    width : 92px;
    height :42px;
    border : none;
    color : transparent;
    background-color: transparent;
    margin-left:166px;
    cursor: pointer;
}
	
.change_password{
	margin-left:75px;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	font-size: 16px;
	color:rgb(162,162,162);
	cursor: pointer;
}


/*--------------Change Password----------------*/

.change_pswd_button{
	
	background-image: url("../images/registerlogin/save and log in button.png");
    background-repeat: no-repeat;
    width : 140px;
    height :40px;
    border : none;
    color : transparent;
    margin-left:166px;
    border: :0px;
    cursor: pointer;
}

/*
input[type=checkbox] {
	
	float:left;
	margin-top: 32px;
    display: block;
    width: 24px;
    height: 25px;
    -webkit-appearance: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

input[type=checkbox]:not(:checked) {
    background-image: url("../images/registerlogin/agree box_default.png");
}

input[type=checkbox]:checked {
    background-image: url("../images/registerlogin/agree box_accept.png");
}
*/

/*----------Hiding dropdown arrow in FF and IE-----------------*/

/*
select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

*/
/***************BOOTBOX CSS ISSUES***************/

button, input, select, textarea{
	font-family: 'Source Sans Pro' !important;
	font-weight: 600 !important;
	font-size: 14px !important;
	resize: none !important;
	
}

